#container{
    position: relative;
    background-image: url(../Imagens/target.img);
    background-size: 100% 100%;
    height: 100vh; /*se a imagem acionar uma barra de rolagem, basta reduzir o vh para poucos mais de 95*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#conteudo{
    position: absolute;
    background-color: black;
    height: 100px;
    width: 100px;

    left: 50%;/*quando realizo um left 50% se trata do posicionamento que ele ficara por ser absolute*/
    top: 50%;/*quando realizo um top 50% se trata do posicionamento que ele ficara por ser absolute*/

    transform: translate(50% 50%);
}

.pai-p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pai-p > p{
    
    text-align: center;
    color: aliceblue;
}